@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Eform</h1>

    <a asp-page="/EForm" class="btn btn-primary" asp-route-empType="PartTime">PartTime</a>


    <a asp-page="/EForm" class="btn btn-secondary" asp-route-empType="FullTime">FullTime</a>



</div>
